 .body {
    background-image: url(japlan.avif);
    background-size: cover;
    color: beige;
 }


 .navbar {
    display: flex;
    justify-content: flex-end;
    gap: 10px 10px;
}

.intro {
    border: solid;
    display: flex;    
}

.message {
    background-color: lightgray;
    border: 5px solid black;
    margin: auto;
    margin-top: 250px;
    width: 500px;
    text-align: center
}


.main1 {
    align-items: center;
}

.main2 {
    border: solid white;
}

.headshot {
    display: flex-wrap;
    height: auto;
    width: 250px;
}

.first {
    border: solid beige 2px;
    margin-bottom: 5px;
}

.second {
    border: solid beige 2px;
    margin-bottom: 5px;
}

.third {
    border: solid beige 2px;
}